

/* This is the body section with elements controlling the color and
font of the body section. The color pallette choosen best suit with the overall mood of the website, it has light tone to fit with  */

body {
    background-color: #ffeead;
    color: #F4FFFD;
    font-family: "sans-serif arial";
}


/* This is the styling for the elements in the aside tag */
aside {
    background-color: aqua;
    padding: 5px
}


/* This is the styling for the elements in the section tag */
section {
    font-family: 'Courier New', Courier;
}


/* This is the styling for the figuers*/
figure img{
    
        border-radius: 120px;
    

}

/* This is the styling for the figure captions*/
figcaption {
    align-items: center;
    font-weight: bold;
}


/* This is the id theme for the header1 tag */
#header1theme {
    font-family: 'Brush Script MT', cursive;
    font-size: 4em;
}


/* This is class for larger itlics*/
.sizeditalics {
    font-size: 1.2em;
    font-style: italic;
}



/* This is the font size of the nav bar and the colors based on the action in the nav bar*/
nav {
    font-size: 1.5em;
}

a:link {
    color: #612700;
}

a:visited {
    color: black;
}

a:hover {
    color: #FF9A57;
}


/* This is class for the theme for the div list */
.divlistclass {
    background-color: bisque;
    padding: 4px;
}

/* This is class for the style of the div employees section with the figures and list */
.divemployeesection {
    background-color: #fbefcc;
    border-radius: 10px;
    font-weight: bold;
}

/* This is the main section with the background and text color for the
 main part of the page */
main {
    background-color: white;
    color: navy;


}

/* This is the font weight of the dt list term*/
dt {
    font-weight: bold;
}


/* This is for the change in image size based on oreatation of screen */
img {
    max-width: 100%;
    height: auto;
}


/* This is the header section with the attributes for the image */
header {
    background-position: right;
    background-repeat: no-repeat;
}

footer{
    text-align: center;
}


/* This is the media section which fixes based on the viewport */
@media only all and (max-width: 640px) {

    /* This is the body section of the media section that changes the
   color and text based on the viewport size */
    body {
        background-color: #ff6f69;
        color: #F4FFFD;
        font-family: "serif Georgia";
    }

    /* This is the header section of the media section that changes the
   header logo based on the viewport size */
    header {
        background-color: #ffcc5c;
        color: #F4FFFD;
        background-image: url(../images/LogoSmall.png);
        min-height: 50px;

    }

    .h2classespage{
        text-align: center;
    }

    body {
        background-color: #ff6f69;
    }

    figures {
        width: 150px;
    }



        /* This is the styling for the elements in the nav-bar */
  
        ul.a{
            list-style-type: none;
        }

     

          li a{ 
        
            display: inline;
            display: block;
            margin: 5px;
            width: 100px;
            background-color: beige ;
            text-align: center;
            }
    
    

        /* This is the styling for the elements in the aside tag on the smaller-screen */
aside {
    border-style: groove;
    border-radius: 25px;
    background-color: aqua;
    padding: 1px

    
}

/* This is class for the theme for the div list  on the smaller-screen */
.divlistclass {
    background-color: bisque;
    padding: 1px;
}

}

@media only all and (min-width: 650px) {

    /* This is the header section of the media section that changes the
   header logo based on the viewport size */
    header {
        background-color: #ff6f69;
        background-image: url(../images/LogoLarge.png);
        min-height: 100px;
    }

    /* This is the style for the navigation bar links*/
      
        li a{
            
            display: block;
            margin: 3px;
            text-align: center;
           background-color: aqua;
           width: 90px;
        }
    
    .h2classespage{
        text-align: center;
    }

    /* This is the styling for the elements in the aside tag on the biggerscreen */
aside {
    border-style: groove;
    border-radius: 25px;
    background-color: aqua;
    padding: 10px
    
   
}

/* This is class for the theme for the div list  on the biggerscreen */
.divlistclass {
    background-color: bisque;
    padding: 10px;
    
}

.row:after{
    content: "";
    display: table;
    clear: both;
}


/* This is class for the collum on the top left in classes*/
.collumntopleft{
    float: left;
    height: 15px;
  width: 50%;
  margin:5px;
}



/* This is class for the collum on the top right in classes*/
.collumntopright{
    float:right;
    height: 200px;
  width: 30%;
}


/* This is class for the collum on the bottom
 left in classes*/

  .collumnbottomleft{
    float: left;
    height: 1px;
  width: 25%;
}

/* This is class for the collum on the bottom right in classes*/
.collumnbottomright{
    float: right;
    height: fit-content;
  width: 75%;
}


    figures {
        width: 80px;
    }
}