/* This is the body section with elements controlling the color and
font of the body section. The color pallette choosen best suit with the overall mood of the website, it has light tone to fit with  */

body {
    background-color: #ffeead;
    color: #F4FFFD;
    font-family: "sans-serif arial";
}

/* This is the styling for the image gallery*/
.groupedimages {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;



}

/* This is for text align and list style*/
.center {
    text-align: center;
    list-style: inside;
}



/* This is the styling for the elements in the aside tag */
aside {
    background-color: aqua;
    padding: 5px
}


/* This is the styling for the elements in the section tag */
section {
    font-family: 'Courier New', Courier;
}


/* This is the styling for the figuers*/
figure img {

    border-radius: 120px;


}

/* This is the styling for the figure captions*/
figcaption {
    align-items: center;
    font-weight: bold;
}


/* This is the id theme for the header1 tag */
#header1theme {
    font-family: 'Brush Script MT', cursive;
    font-size: 4em;
}


/* This is class for larger itlics*/
.sizeditalics {
    font-size: 1.2em;
    font-style: italic;
}



/* This is the font size of the nav bar and the colors based on the action in the nav bar*/
nav {
    font-size: 1.5em;
}

a:link {
    color: #612700;
}

a:visited {
    color: black;
}

a:hover {
    color: #FF9A57;
}


/* This is class for the theme for the div list */
.divlistclass {
    background-color: bisque;
    padding: 4px;
}

/* This is class for the style of the div employees section with the figures and list */
.divemployeesection {
    background-color: #fbefcc;
    border-radius: 10px;
    font-weight: bold;
}

/* This is the main section with the background and text color for the
 main part of the page */
main {
    background-color: white;
    color: navy;


}

/* This is the font weight of the dt list term*/
dt {
    font-weight: bold;
}


/* This is for the change in image size based on oreatation of screen */
img {
    max-width: 100%;
    height: auto;
}


/* This is the header section with the attributes for the image */
header {
    background-position: right;
    background-repeat: no-repeat;
}

footer {
    text-align: center;
}


/* This is the css for the form feilds */
input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
    width: 1050px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ffcc5c;
    border-radius: 4px;
    box-sizing: border-box;
}


/* This is the css for the form submit button */
input[type=submit] {
    width: 100%;
    background-color: #ffcc5c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* This is the css for the form submit button when hoverd on */

input[type=submit]:hover {
    background-color: green;
}


/* This is the css for the form feilds container which holds the feilds */

div.container {
    border-radius: 5px;
    background-color: #ff6f69;
    padding: 20px;

}


/* This is the css for the for the footer date color */
.footerDate {
    color: black;
}

.h2ForVideo {
    text-align: center;
}

/* This is the media section which fixes based on the viewport */
@media only all and (max-width: 640px) {

    /* This is the body section of the media section that changes the
   color and text based on the viewport size */
    body {
        background-color: #ff6f69;
        color: #F4FFFD;
        font-family: "serif Georgia";
    }

    /* This is the header section of the media section that changes the
header logo based on the viewport size */
    header {
        background-color: #ffcc5c;
        color: #F4FFFD;
        background-image: url(../images/LogoSmall.png);
        min-height: 50px;

    }


    /* This is the alignment of the text for header sections of the classes page */

    .h2classespage {
        text-align: center;
    }

    body {
        background-color: #ff6f69;
    }

    figure {
        width: 80px;
    }



    /* This is the styling for the elements in the nav-bar */

    ul.a {
        list-style-type: none;
    }



    li a {


        display: block;
        margin: 5px;
        width: 100px;
        background-color: beige;
        text-align: center;
    }

    /* This is the style for the navigation bar buttons*/
    .navbuttonstyle {

        margin: 5px;
        width: 100px;
        height: 55px;
        background-color: beige;
        text-align: center;


    }

    /* This is the style for the navigation bar container*/

    .navcontainer {
        display: flex;
        flex-direction: row;

    }

    /* This is the style for the navigation bar and main container*/

    .navmaincontainer {
        display: flex;




    }

    main {
        height: 100vh;
        overflow: scroll;
    }



    /* This is the styling for the elements in the aside tag on the smaller-screen */
    aside {
        border-style: groove;
        border-radius: 25px;
        background-color: aqua;
        padding: 1px
    }

    /* This is class for the theme for the div list  on the smaller-screen */
    .divlistclass {
        background-color: bisque;
        padding: 1px;
    }

    /* This is class for the for dog high-five video */
    iframe {
        margin-left: 130px;
        border: none;
    }

    /* This is class for the credit caption of the dog high-five video */
    .CreditPostion {
        margin-left: 150px;
    }


}


@media only all and (min-width: 650px) {

    /* This is the header section of the media section that changes the
   header logo based on the viewport size */
    header {
        background-color: #ff6f69;
        background-image: url(../images/LogoLarge.png);
        min-height: 100px;
    }

    /* This is the style for the navigation bar links*/

    li a {

        display: block;
        margin: 3px;
        text-align: center;
        background-color: aqua;
        width: 90px;
    }

    /* This is the style for the navigation bar buttons*/
    .navbuttonstyle {

        margin: 3px;
        text-align: center;
        background-color: aqua;
        width: 100px;

    }

    /* This is the style for the navigation bar container*/
    .navcontainer {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    /* This is the style for the navigation bar and main container*/
    .navmaincontainer {

        display: flex;
    }

    .h2classespage {
        text-align: center;
    }

    /* This is the styling for the elements in the aside tag on the biggerscreen */
    aside {
        border-style: groove;
        border-radius: 25px;
        background-color: aqua;
        padding: 10px
    }

    /* This is class for the theme for the div list  on the biggerscreen */
    .divlistclass {
        background-color: bisque;
        padding: 10px;

    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }


    /* This is class for the collum on the top left in classes*/
    .collumntopleft {
        float: left;
        height: 15px;
        width: 50%;
        margin: 5px;
    }



    /* This is class for the collum on the top right in classes*/
    .collumntopright {
        float: right;
        height: 205px;
        width: 22.5%;
        position: relative;
        right: 750px;

    }


    /* This is class for the collum on the bottom
 left in classes*/

    .collumnbottomleft {
        float: left;
        height: 1px;
        width: 25%;
    }

    /* This is class for the collum on the bottom right in classes*/
    .collumnbottomright {
        float: right;
        height: fit-content;
        width: 75%;
    }


    figure {
        width: 150px;
    }


    /* This is class for the grid-container on the graduates page*/
    .grid-Container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 10px;


    }

    /* This is class for the grid-title on the graduates page*/

    .gridTitle {
        grid-row: 1;
        grid-column: 3;
        text-align: end;
    }

    /* Below are the various classes for the images for the grids this includes the sqaure,long and wide images*/

    .wideImg {
        grid-area: 2/1/2/7;
    }


    .longImg {
        grid-area: 3/1/4/3;
    }

    .regImg1 {
        grid-area: 3/3/4/7;

    }

    .regImg2 {

        grid-area: 4/3/5/7;

    }

    .regImg3 {
        grid-area: 4/1/5/3;

    }

    .regImg4 {

        grid-area: 5/3/6/7;

    }


    .regImg5 {

        grid-area: 5/1/6/3;

    }

    /* This is class for the for dog high-five video */
    iframe {
        margin-left: 250px;
        border: none;
        width: 600px;
        height: 300px;
    }

    /* This is class for the credit caption of the dog high-five video */
    .CreditPostion {
        margin-left: 420px;
    }



}