 body {
     background-color: dodgerblue;
     color: white;
     font-family: sans-serif arial;
 }

 main {
     background-color: white;
     color: navy;
 }

 @media only all and (max-width: 480px){
    body{ background-color: lightskyblue;
          color: navy;

    }
 }