/* this for the logo of the website  */
.logo{ width: 100px; height: 90px;

}


/* this for alging the text center */
.textalign-center{text-align: center;}

/* this for the body */
body {
    background-color: #ff6f69 ; 
    color: #F4FFFD ;
    font-family: "sans-serif arial" ;
}

/* This is the styling for the image gallery*/
.groupedimages {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;



}

/* This is for text align and list style*/
.center {
    text-align: center;
    list-style: inside;
}


/* This is the id theme for the header1 tag */
#Navbartheme{
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4em;
}


/* This is class for larger itlics*/
.sizeditalics {
    font-size: 1.2em;
    font-style: italic;
}



/* This is the main section with the background and text color for the
 main part of the page */
main {
    background-color: white !important; 
    color: rgb(248, 93, 88) !important;


}

/* This is for the change in image size based on oreatation of screen */
img {
    max-width: 100%;
    height: auto;
}

/* this for the footer of the website, keeping it algined  */
footer {
    text-align: center;
}



/* This is the css for the form feilds */
input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
    width: 1050px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ffcc5c;
    border-radius: 4px;
    box-sizing: border-box;
}


/* This is the css for the form submit button */
input[type=submit] {
    width: 95%;
    background-color: #ffcc5c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* This is the css for the form submit button when hoverd on */

input[type=submit]:hover {
    background-color: green;
}


/* This is the css for the form feilds container which holds the feilds */

div.container {
    border-radius: 5px;
    background-color: #ff6f69;
    padding: 20px;

}


/* This is the css for the for the footer date color */
.footerDate {
    color: black;
}

.h2ForVideo {
    text-align: center;
}


/* This is the media section which fixes based on the viewport */
@media only all and (max-width: 530px) {
    /* This is the body section of the media section that changes the
   color and text based on the viewport size */
    body {
        background-color: #69d2ff ;
        color: #F4FFFD ;
        font-family: "serif Georgia" ;
    }
/* this for the body color of the website  */
    body {
        background-color: #ff6f69;
    }

    /* This is the style for the navigation bar buttons*/
    .navbuttonstyle {

        margin: 5px;
        width: 100px;
        height: 55px;
        background-color: beige;
        text-align: center;


    }

    /* this for the main section of the website  */
    main {
        height: 100vh;
        overflow: scroll;
        background-color: #69d2ff !important;
    }



    /* This is for the video */
    iframe {
       margin-left:-10px;
        border: none;
        margin-top: 15px;
        width: 400px;
        height: 300px;
    }

    /* This is class for the credit caption */
    .CreditPostion {
        margin-left: 150px;
    }
    
}

/* This is the media section which fixes based on the viewport */
@media only all and (min-width: 540px) {

    /* This is the body section of the media section that changes the
   color and text based on the viewport size */
    body {
        background-color: #69d2ff ;
        color: #F4FFFD ;
        font-family: "serif Georgia" ;
    }

    main{background-color: #69d2ff !important;}
    /* This is the header section of the media section that changes the
header logo based on the viewport size */
    header {
        background-color: #ffcc5c;
        color: #F4FFFD;
        background-image: url(../images/LogoSmall.png);
        min-height: 50px;

    }


  

    body {
        background-color: #ff6f69;
    }



    /* This is the style for the navigation bar buttons*/
    .navbuttonstyle {

        margin: 5px;
        width: 100px;
        height: 55px;
        background-color: beige;
        text-align: center;


    }



    main {
        height: 100vh;
        overflow: scroll;
    }



    /* This is class for the video */
    iframe {
        margin-left: 80px;
        border: none;
        margin-top: 15px;
        width: 400px;
        height: 300px;
    }

    /* This is class for the credit caption of the video */
    .CreditPostion {
        margin-left: 190px;
    }

 
}

 /* This is the media section which fixes based on the viewport for the menue bar*/

@media only all and (min-width: 993px) {

    /* This is the  margin for the home button */
    .homebtn{
        margin: auto;
    }
   /* This is the  margin for the animal button */
    .animalbtn{
        margin-left: 5px;
    }

   /* This is the  margin for the space button */
    .spacebtn{
        margin-left: 8px;
    }

   /* This is the  margin for the submit faq button */
    .submitfaqbtn{
        margin-left: 10px;
    }

   /* This is the  margin for the contact button */
    .contactbtn{
        margin-left: 12px;
    }
}

/* This is the media section which fixes based on the viewport for the menu bar*/

@media only all and (max-width: 991px){
/* This is for the home button */
    .homebtn{  width: 150px;}

/* This is the for the animal button */
    .animalbtn{
        margin-top: -100px;
        width: 150px;
    }

/* This is for the space button */
    .spacebtn{
        margin-top: -200px;
        width: 150px;
    }

/* This is the for the submit faq button */
    .submitfaqbtn{
        margin-top: -300px;
        width: 150px;
    }

/* This is the for the contact button */
    .contactbtn{
        margin-top: -400px;
        width: 150px;
    }

/* This is the  margin for the nav bar */
    .navmargin{margin-bottom: -150px; 
     align-items: center;}
}

/* This is the media section which fixes the video based on the viewport */
@media only all and (min-width: 999px) { /* This is for the intro video */
    iframe {
        margin-left: 250px !important;
        border: none !important;
        width: 900px !important;
        height: 400px !important;
        margin-top: 15px !important;
    }
}


/* This is the media section which fixes based on the viewport */

@media only all and (min-width: 758px) {
    iframe {
        margin-left: -66px ;
        border: none !important;
        width: 900px !important;
        height: 400px !important;
        margin-top: 15px !important;
    }

    .CreditPostion {
        margin-left: 293px;
    }


    .navbarcol{background-color: #ff6f69 !important;}

    /* This is the  for the the main background color */
    main{background-color: #69d2ff !important;}


  

    /* This is the style for the navigation bar buttons*/
    .navbuttonstyle {

        margin: 3px;
        text-align: center;
        background-color: aqua;
        width: 100px;

    }

   .row:after {
        content: "";
        display: table;
        clear: both;
    }


    /* This is class for the collum on the top left*/
    .collumntopleft {
        float: left;
        height: 15px;
        width: 50%;
        margin: 5px;
    }



    /* This is class for the collum on the top right*/
    .collumntopright {
        float: right;
        height: 205px;
        width: 22.5%;
        position: relative;
        right: 750px;

    }


    /* This is class for the collum utlized for the faq  */

    .collumnbottomleft {
        float: left;
        height: 1px;
        width: 25%;
    }

  /* This is class for the collum utlized for the faq  */
    .collumnbottomright {
        float: right;
        height: fit-content;
        width: 75%;
    }


    

   

   
    /* This is class for the credit caption of the dog high-five video */
    .CreditPostion {
        margin-left: 580px;
    }

/* This is the css for the form feilds */
input[type=text],
input[type=email],
input[type=tel],
select,
textarea {
    width: 1050px;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ffcc5c;
    border-radius: 4px;
    box-sizing: border-box;
}


/* This is the css for the form submit button */
input[type=submit] {
    width: 95%;
    background-color: #ffcc5c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* This is the css for the form submit button when hoverd on */

input[type=submit]:hover {
    background-color: green;
}


/* This is the css for the form feilds container which holds the feilds */

div.container {
    border-radius: 5px;
    background-color: #ff6f69;
    padding: 20px;

}

main.homeMain{
    height: 100%;
    overflow-x: hidden;
  }
  
    
}